body{
    background-color: rgb(17, 74, 74);
}
#fondo{
    background-color: yellowgreen;
}

input{
    border-radius: 15px;
}

button{ 
    border-radius: 15px;
}

#fond{ 
    background-color: rgb(99, 133, 113);
}
