body{
    background-color: rgb(15, 92, 92);
}
#fondo{
    background-color: rgb(10, 128, 118);
}

input{
    border-radius: 15px;
}

button{ 
    border-radius: 15px;
}

#fond{ 
    background-color: rgb(99, 133, 113);
}

#fondo1{
    background-color: rgba(177, 188, 190, 0.541);
}


